.mission-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mission-section {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.mission-section article {
    mission-bottom: 40px
    width: 80%
}

